<% if @recipe.errors.any?%>
  <ul>
    <% @recipe.errors.full_messages.each do |e|%>
      <li>
        <%= e %>  
      </li>
      <% end %>
  </ul>
<% end %>


<%= form_with model: @recipe, local: true do |f| %>

  <%= f.label :name%>
  <br>
  <%= f.text_field :name %>
  <br>

  <%= f.label :description%>
  <br>
  <%= f.text_field :description %>
  <br>

  <%= f.label :ingredients%>
  <br>
  <%= f.text_area :ingredients %>
  <br>

  <%= f.label :method%>
  <br>
  <%= f.text_area :method %>
  <br>

  <%= f. submit %>

<% end %>