<h2><%= @recipe.name %></h2>


    <% if @current_user.present? && @recipe.user_id == @current_user.id %>
       <%= link_to 'Edit', edit_recipe_path(@recipe.id) %>
      <%= link_to 'Delete', recipe_path, method: 'delete' %>
    <% end %>
<br><br>

<p>
  <strong>Creator of recipe: </strong>
  <br>
    <%= @recipe.user.name %>
  </p>
<br>

<div class="recipe-images">
<% @recipe.recipe_images.each do |image|%>
      <%= image_tag image.image_url %>
  <% end %>
</div>
  


<p>
  <strong>Description: </strong>
  <br>
    <%= @recipe.description%>
  </p>
<br>

<p>
  <strong>Categories: </strong>
  <br>
  <% @recipe.categories.each do |cat|%>
    <ul>
      <li>
        <%= cat.name %>
      </li>
    </ul>
  <% end %>
</p>
<br>

<p>
  <strong>Ingredients: </strong>
  <br>
    <%= @recipe.ingredients.gsub("\n", "<br>").html_safe%>
</p>
<br>
<p>
  <strong>Method: </strong>
  <br>
    <%= @recipe['method'].gsub("\n", "<br>").html_safe%>
  </p>
<br>

<p>
  <strong>Comments:</strong>
  <%= render @recipe.comments.includes(:user).order(id: :desc) %>
  <%= render partial: 'comments/form', locals: { recipe: @recipe }%>
</p>