<h2><%= @recipe.name %></h2>

<%= link_to 'Edit', edit_recipe_path %>
|
<%= link_to 'Delete', recipe_path, method: 'delete' %>
<br><br>

<p>
  <strong>Description: </strong>
  <br>
    <%= @recipe.description%>
  </p>
<br>
<p>
  <strong>Ingredients: </strong>
  <br>
    <%= @recipe.ingredients.gsub "\n", "<br>"%>
  </p>
<br>
<p>
  <strong>Method: </strong>
  <br>
    <%= @recipe['method'].gsub "\n", "<br>"%>
  </p>
<br>
