<div class="user_index">
  <%= link_to 'Edit Profile', edit_user_path %>
  
  <h2><%= @user.name %></h2>


  <%= cl_image_tag @user.image, height: 200, width: 200, crop: 'fill', alt: @user.name %>
  <br>
  <p>
    <strong>Bio:</strong>
    <%= @user.bio%>
  </p>
  <br>
  <p>
    <strong>Get in touch:</strong>
    <%= @user.email%>
  </p>
  <br>
  <p>
  <% if @user.recipes%>
      <strong>My recipes:</strong>
      <br>
  
      <%@user.recipes.each do |recipe| %>
      <%= link_to recipe.name, recipe_path(recipe.id) %>
      <br>
      <% end %>
    <% end %>
    
    
    
  </p>



</div>
