<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="wrapper">
  <h2>The Restaurant db </h2>
    <nav>
      
      <div class="links">
        <%= link_to 'Home', root_path %> 
        |
        <%= link_to 'All Recipes', recipes_path %> 
        |
        <%= link_to 'Login', '/does not exist yet' %>
        |
        <%= link_to 'Sign Up', '/does not exist yet' %>
      </div>
      
    </nav>
    <div class="content">
      <%= yield %>
    </div>
      
  </div>
    
  </body>
</html>
