<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="wrapper">
  <h1>The Restaurant db </h1>
    <nav>
      
  
      <div class="links">
      <% if @current_user.present?%>
        Welcome, <%= @current_user.name%>
        |
        <%= link_to 'Logout', login_path, method: 'delete' %>
        |
        <%= link_to 'Create Recipe', new_recipe_path %>
        |
      <% else %>
        <%= link_to 'Login', login_path %>
        |
        <%= link_to 'Signup', '/does not exist yet' %>
        |
      <% end %>
        <%= link_to 'Home', root_path %> 
        |
        <%= link_to 'All Recipes', recipes_path %> 
        |
        <%= link_to 'All Users', users_path %> 
        
        
      </div>
      
    </nav>
    <div class="content">
      <%= yield %>
    </div>
      
  </div>
    
  </body>
</html>
